mixin modal()
	// init
	.modal-layer
		.modal-filter
		.modal-wrap
			.modal(data-modal="postCode")
				.modal-content
					.modal-close.js-modal-close
						+icon("close","icon")
					.type--lg.type--700.mb-16.type--mid Check we can deliver
					.type--main.type--mid.mb-24 Please enter your delivery postcode below to check if we deliver to your area.
					.input-row.mb-20
						input(type="text" placeholder="Postcode" class="input")
					.btn.btn--md.btn--mark.btn--full Submit
	//.js-modal Открыть модальное окно

